<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Web Interface</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">SCG</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cv" target="blank">CV</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container my-3">
        <div class="jumbotron">
            <h1 class="display-4">SCG - Web Interface</h1>
            <p class="lead">This is a web interface for testing SCG's API. Start the API server before using.</p>
            <a class="btn btn-primary" href="https://bitbucket.org/shumiq/scg-application/src/develop/README.md"
                target="blank" role="button">Learn more</a>
        </div>
        <div class="card my-3" id="xyz">
            <div class="card-body">
                <h5 class="card-title">XYZ API</h5>
                <h6 class="card-subtitle mb-2 text-muted">Finding X, Y, Z value for X, 5, 9, 15, 23, Y, Z</h6>
                <p class="card-text">
                    <button type="button" class="btn btn-success" v-on:click="xyz('')">Series</button>
                    <button type="button" class="btn btn-success" v-on:click="xyz('all')">X, Y, Z</button>
                    <button type="button" class="btn btn-success" v-on:click="xyz('x')">X</button>
                    <button type="button" class="btn btn-success" v-on:click="xyz('y')">Y</button>
                    <button type="button" class="btn btn-success" v-on:click="xyz('z')">Z</button>
                </p>
                <p class="card-text">
                    <p>Request</p>
                    <p class="bg-light p-3">{{request}}</p>
                    <p>Response</p>
                    <pre class="bg-light p-3">{{response}}</pre>
                </p>
            </div>
        </div>
        <div class="card my-3" id="restaurants">
            <div class="card-body">
                <h5 class="card-title">Google Place API</h5>
                <h6 class="card-subtitle mb-2 text-muted">Finding all restaurants in Bangsue area</h6>
                <p class="card-text">
                    <button type="button" class="btn btn-success" v-on:click="restaurants">Find</button>
                </p>
                <p class="card-text">
                    <p>Request</p>
                    <p class="bg-light p-3">{{request}}</p>
                    <p>Response</p>
                    <pre class="bg-light p-3" style="max-height:300px;overflow:auto;">{{response}}</pre>
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Address</th>
                            <th scope="col">Rating</th>
                        </tr>
                    </thead>
                    <tbody v-html="table">

                    </tbody>
                </table>
            </div>
        </div>
        <div class="card my-3" id="broadcast">
            <div class="card-body">
                <h5 class="card-title">LINE Messaging API</h5>
                <h6 class="card-subtitle mb-2 text-muted">Broadcast message to channel @318vbzgq</h6>
                <p class="card-text">
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" v-model="message" v-on:keyup.enter=broadcast
                                    placeholder="Broadcast message">
                            </div>
                            <div class="col">
                                <label for="request-broadcast-input">
                                    <button type="button" class="btn btn-success" v-on:click="broadcast"
                                        :disabled="!message">Broadcast</button>
                                </label>
                            </div>
                        </div>
                    </div>
                    <p>Request</p>
                    <p class="bg-light p-3">{{request}}</p>
                    <p>Response</p>
                    <pre class="bg-light p-3">{{response}}</pre>
                </p>
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid bg-light mb-0">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-4">
                    <p>SCG - Web Interface</p>
                </div>
                <div class="col-md-8 mb-4">
                    <p>by Santiphap Watcharasukchit</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/app.js"></script>
</body>

</html>